body {
    font-family: 'Raleway', sans-serif; /*семейство шрифтов*/
    color: #213053; /*задаем цвет текста*/
    margin: 0; /*по умолчанию 8рх*/
  }

header {
    display: flex; /*выравниваем элементы по главной (горизонтальной) оси*/
    justify-content: space-between; /*делаем выравнивание: логотип прижимается к левому краю, див прижимается к правому краю*/
    align-items: center; /*центрируем по вертикали*/
    padding: 20px; /*отступ от всех краев*/
    position: sticky; /*позиционируем шапку со сдвигом контента вниз на высоту шапки*/
    top: 0; /*отступ шапки сверху отсутствует*/
    background-color: #fff; /*цвет шапки*/
    z-index: 1; /*шапка располагается поверх всех элементов*/
  }

  .header__logo {
    height: 30px; /*задаем высоту логотипа, ширина подстраивается автоматически*/
  }

  a { /*для всех ссылок*/
    text-decoration: none; /*убираем подчеркивание*/
    color: #213053;
  }

  header a { /*для ссылок в header*/
    font-size: 15px; /*размер шрифта*/
    font-weight: 600; /*толщина шрифта*/
    margin-right: 25px; /*отталкиваем ссылку справа (от кнопки)*/
  }

  button { /*для всех кнопок*/
    font-family: 'Raleway', sans—serif; /*семейство шрифтов*/
    font-size: 15px; /*размер шрифта*/
    color: #fff; /*цвет текста*/
    background-color: #23a030; /*цвет фона кнопки*/
    border: none; /*убираем границу кнопки*/
    border-radius: 15px; /*скругление*/
    cursor: pointer; /*при наведении появляется указатель*/
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%); /*тень от кнопки: 0 — это отступ тени по горизонтали, 16px — отступ по вертикали, 36px — размытость тени, а rgb(52 213 68 / 22%) — это цвет тени*/
    padding: 15px; /*отступ внутри кнопки*/
  }

  .about__image {
    width: 500px;
  }
   
  .about__sun—image {
    width: 100px;
    height: 100px;
  }

  .about {
    display: flex; /*делаем flex-контейнер*/
    justify-content: space-around; /*равномерно распределяем все элементы по ширине flex-блока. Все элементы имеют полноразмерное пространство с обоих концов*/
    align-items: center; /*центрируем по вертикали*/
    padding-top: 115px; /*отступ сверху*/
    padding-bottom: 115px; /*отступ снизу*/
    background: url('img/back.png') no-repeat; /*фон будет картинкой по адресу, написанному в URL. No-repeat — «не повторять», — чтобы картинка фона показывалась лишь один раз, без повторений.*/
    background-position: center; /*картина располагается по центру*/
    background-size: cover; /*картинка фона растягивается под размер секции, полностью покрывая ее*/
  }

  .about h1 {
    font-size: 70px;
    line-height: 76px; /*высота строчки*/
  }

  .about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8; /*прозрачность текста*/
  }

  .about button {
      font-size: 18px;
      border-radius: 20px; /*закругление краев кнопки*/
      padding: 20px 25px; /*внутренние отступы: 20 сверху и снизу, 25 справа и слева*/
      margin-top: 20px; /*внешний отступ сверху*/
  }

  .about__info {
    max-width: 550px; /*максимальная ширина области с текстом*/
  }

  .form__containter {
    width: 550px; /*максимальная ширина контейнера с текстом, метками, формами и кнопкой*/
  }

  .form {
    background-color: #1D263A; /*цвет фона формы*/
    color: #fff; /*цвет текста формы*/
    padding-top: 115px; /*внутренний отступ сверху*/
    padding-bottom: 115px; /*внутренний отступ снизу*/
    text-align: center; /*расположение текста формы по центру*/
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  .form h1 { /*этот селектор отбирает все теги h1 внутри тега с классом form*/
    font-size: 48px;
  }

  .form p { /*этот селектор отбирает все теги p внутри тега с классом form*/
    font-size: 18px;
    opacity: 0.65; /*прозрачность текста*/
  }

  .form__group {
    display: flex; /*задаем флексбокс*/
    flex-direction: column; /*главная ось - вертикальная*/
    text-align: left; /*Линейное содержимое выравнивается по левому краю линейного блока*/
  }

  .form form { /*этот селектор отбирает все теги form внутри тега с классом form*/
    display: grid; /*задаем сетку*/
    grid-gap: 20px; /*задаем отступы между ячейками сетки*/
    margin-top: 60px; /*задаем отступ сверху*/
  }

  .form label { /*этот селектор отбирает все теги label внутри тега с классом form*/
    font-size: 18px;
    font-weight: 600; /*задаем толщину текста*/
    margin-bottom: 15px; /*задаем отступ снизу*/
  }

  .form input { /*этот селектор отбирает все теги input внутри тега с классом form*/
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding: 0px 20px;
    border-radius: 15px; /*закругление краев*/
    border: none; /*убираем обводку*/
  } 

  .form select { /*этот селектор отбирает все теги select внутри тега с классом form*/
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding: 0px 20px;
    border-radius: 15px; /*закругление краев*/
    border: none; /*убираем обводку*/
  } 

  .form__submit {
    font-size: 18px;
    font-weight: 600; /*задаем толщину текста*/
    margin-top: 40px; /*задаем отступ сверху*/
  }

  select { /*для всех тегов select*/
    appearance: none; /*убираем стрелочку у селекта, которая по умолчанию отображается справа*/
  }

  input { /*для всех тегов input*/
    outline: none; /*убираем стиль границы, которая появляется, когда начинаешь вводить какой-то текст*/
  }

  button:hover { /*изменение любой кнопки при наведении курсора на нее*/
    background-color: #f6980c; /*цвет становится оранжевым*/
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%); /*появляется тень от кнопки с заданным размером и интенсивностью цвета*/
    transition: background-color 0.3s ease-in; /*изменения происходят за 0.3 секунды по кривой ease-in*/
  }

footer {
  padding: 90px 20px; /*внутренний отступ сверху-снизу и справа-слева*/
  font-weight: 600; /*толщина текста*/
}

  .footer__container {
    display: flex; /*задаем флексбокс*/
    justify-content: center; /*центрируем содержимое*/
  }

  .footer__copyright {
    margin-top: 40px; /*внешний отступ сверху*/
    display: flex; /*задаем флексбокс*/
    justify-content: center; /*центрируем содержимое*/
    opacity: 0.5; /*прозрачность содержимого*/
  }

  .footer__group {
    margin-right: 80px; /*внешний отступ справа*/
  }

  .footer__group h3 { /*этот селектор отбирает все теги h3 внутри тега с классом footer__group*/
    font-size: 16px;
    opacity: 0.7; /*прозрачность содержимого*/
    margin-bottom: 30px; /*внешний отступ снизу*/
  }

  div .footer__links { /*этот селектор отбирает все теги классы footer__links внутри тега div*/
    display: flex; /*задаем флексбокс*/
    flex-direction: column; /*главная ось - вертикальная*/
  }

  .footer__links a { /*этот селектор отбирает все теги a внутри тега с классом footer__links*/
    margin-bottom: 15px; /*внешний отступ снизу*/
  }

  @keyframes rotation { /*задаем сценарий анимации, присваиваем имя rotation*/
    0%{ 
      transform: rotate(0deg); /*условие в начале цикла анимации*/
    }
  
    100%{
      transform: rotate(360deg); /*условие в конце цикла анимации*/
    }
  }

  .about__sun—image { /*для элемента с классом bout__sun—image*/
    animation-name: rotation; /*применяем сценарий анимации под названием rotation*/
    animation-duration: 10s; /*цикл анимации - продолжительность от начала до конца*/
    animation-iteration-count: infinite; /*количество повторов: бесконечно*/
    animation-timing-function: linear; /*функция перехода анимации*/
    position: absolute; /*задаем абсолютное позиционирование - поверх других элементов*/
    /*можно задать всю анимацию одной строкой: animation: rotation 10s infinite linear; */
  }

  @media (min-width: 720px) and (max-width: 900px) { /*создаем медиазапрос для адаптации лендинга под планшеты*/
    header {
      padding-right: 20px;
      padding-left: 20px;
    }

    .about {
      padding-right: 20px;
      padding-left: 20px;
    }

    .form {
      padding-right: 20px;
      padding-left: 20px;
    }

    footer {
      padding-right: 20px;
      padding-left: 20px;
    }
  
    .header__logo {
      height: 20px;
    }
  
    .about h1 {
      font-size: 36px;
      line-height: 40px;
    }
  
    .about__image {
      width: 280px;
    }
 
    .about__sun—image {
      width: 75px;
      height: 75px;
    }
  }

  @media (min-width: 320px) and (max-width: 719px) { /*создаем медиазапрос для адаптации лендинга под мобильные телефоны*/
    header {
      padding-right: 10px;
      padding-left: 10px;
    }

    .about {
      padding-right: 10px;
      padding-left: 10px;
      display: flex; /*задаем флексбокс*/
      flex-flow: wrap; /*элементы будут переноситься внутри контейнера*/
    }

    .about__info { 
      order: 1; /*задаем очередность отображения элемента - первый идет после нулевого*/
    }
    
    .about__images {
      order: 0; /*задаем очередность отображения элемента - нулевой идёт первым*/
    }

    .form {
      padding-right: 10px;
      padding-left: 10px;
    }

    .footer__container {
      padding-right: 10px;
      padding-left: 10px;
      display: flex; /*задаем флексбокс*/
      flex-direction: column; /*главная ось - вертикальная*/
    }
  
    .header__logo {
      height: 20px;
    }
  
    .about h1 {
      font-size: 36px;
      line-height: 40px;
    }
  
    .about__image {
      width: 280px;
    }
 
    .about__sun—image {
      width: 75px;
      height: 75px;
    }
  }
