body {
    font-family: 'Raleway', sans-serif; /*семейство шрифтов*/
    color: #213053; /*задаем цвет текста*/
    margin: 0; /*по умолчанию 8рх*/
  }

header {
    display: flex; /*выравниваем элементы по главной (горизонтальной) оси*/
    justify-content: space-between; /*делаем выравнивание: логотип прижимается к левому краю, див прижимается к правому краю*/
    align-items: center; /*центрируем по вертикали*/
    padding: 20px; /*отступ от всех краев*/
  }

  .header__logo {
    height: 30px; /*задаем высоту логотипа, ширина подстраивается автоматически*/
  }

  a { /*для всех ссылок*/
    text-decoration: none; /*убираем подчеркивание*/
    color: #213053;
  }

  header a { /*для ссылок в header*/
    font-size: 15px; /*размер шрифта*/
    font-weight: 600; /*толщина шрифта*/
    margin-right: 25px; /*отталкиваем ссылку справа (от кнопки)*/
  }

  button { /*для всех кнопок*/
    font-family: 'Raleway', sans—serif; /*семейство шрифтов*/
    font-size: 15px; /*размер шрифта*/
    color: #fff; /*цвет текста*/
    background-color: #23a030; /*цвет фона кнопки*/
    border: none; /*убираем границу кнопки*/
    border-radius: 15px; /*скругление*/
    cursor: pointer; /*при наведении появляется указатель*/
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%); /*тень от кнопки: 0 — это отступ тени по горизонтали, 16px — отступ по вертикали, 36px — размытость тени, а rgb(52 213 68 / 22%) — это цвет тени*/
    padding: 15px; /*отступ внутри кнопки*/
  }

  .about__image {
    width: 500px;
  }
   
  .about__sun—image {
    width: 100px;
    height: 100px;
  }

  .about {
    display: flex; /*делаем flex-контейнер*/
    justify-content: space-around; /*равномерно распределяем все элементы по ширине flex-блока. Все элементы имеют полноразмерное пространство с обоих концов*/
    align-items: center; /*центрируем по вертикали*/
    padding-top: 115px; /*отступ сверху*/
    padding-bottom: 115px; /*отступ снизу*/
    background: url('img/back.png') no-repeat; /*фон будет картинкой по адресу, написанному в URL. No-repeat — «не повторять», — чтобы картинка фона показывалась лишь один раз, без повторений.*/
    background-position: center; /*картина располагается по центру*/
    background-size: cover; /*картинка фона растягивается под размер секции, полностью покрывая ее*/
  }

  .about h1 {
    font-size: 70px;
    line-height: 76px; /*высота строчки*/
  }

  .about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8; /*прозрачность текста*/
  }

  .about button {
      font-size: 18px;
      border-radius: 20px; /*закругление краев кнопки*/
      padding: 20px 25px; /*внутренние отступы: 20 сверху и снизу, 25 справа и слева*/
      margin-top: 20px; /*внешний отступ сверху*/
  }

  .about__info {
    max-width: 550px; /*максимальная ширина области с текстом*/
  }

